body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d0d0d0;
}

.content {
    width: 350px;
    margin: 0 auto;
}

#display {
    font-size: 30px;
    font-size: bold;
    font-family: 'Courier New', Courier, monospace;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 80px;
    height: 65px;
    margin: 0.6px;
}

#clear, #equals {
   width: 161.1px;
}
